{% if report.new.infra_issues.sorted_by_completion_date.jobs|length > 0 %}
# Infra failures
{% for job in report.new.infra_issues.sorted_by_completion_date.jobs %}
  * {{ job.dut_name }}: {{ job.infra_issues.matched_patterns|join(', ') }} - {{ job.web_url}}
{% endfor %}
{% endif %}

{% if report.new.post_merge.failed_tests|length > 0 %}
# Test failures
{% for project, rp in report.new.post_merge.projects.items() if rp.failed_tests|length > 0 %}
  * {{ project.name }} ({{ rp.failed_tests|length }})
{% for job_name, rj in rp.job_name.items() if rj.failed_tests|length > 0 %}
    * {{ job_name }}: {% if rj.failed_tests|length == 1 %}{{ rj.failed_tests|join(' | ') }}{% else %}{{ rj.failed_tests|length }} test(s){% endif %}

{% endfor %}
{% endfor %}
{% if env.JOB_URL %}Full report: {{ env.JOB_URL }}{% endif %}
{% endif %}
{% if influx_checks.failed|length > 0 %}
# InfluxDB failed checks
{% for check in influx_checks.failed %}
  * {{ check }}
{% endfor %}
{% endif %}

{% if config_irc.ping|length > 0 %}{{ config_irc.ping|join(', ') }}: Please have a look :)
{% endif %}
