# Infra failures

{% for job in report.new.infra_issues.sorted_by_completion_date.jobs %}
  * {{ job.dut_name }}: {{ job.infra_issues.matched_patterns|join(', ') }} - {{ job.web_url}}
{% else %}
    No new known failures occured!
{% endfor %}

# Test failures
{% for project, rp in report.new.post_merge.projects.items() if rp.failed_tests|length > 0 %}
  * {{ project.name }} ({{ rp.failed_tests|length }})
{% for job_name, rj in rp.job_name.items() if rj.failed_tests|length > 0 %}
    * {{ job_name }} ({{ rj.failed_tests|length }}):
{% for test in rj.failed_tests %}
      * {{ test }}
{% endfor %}
{% endfor %}
{% else %}
    No new test failures occured!
{% endfor %}

# InfluxDB checks
{% for check in influx_checks.all %}
  * {{ check }}
{% endfor %}
